.nameForm {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question {
    color: white;
}

.nameInput {
    background: none;
    border: none;
    border-bottom: 1px solid white;
    width: 50vw;
    text-align: center;
    font-size: 2rem;
    color: white;
    outline: none;
}