/* button {
    position: fixed;
    height: 100px;
    width: 100px;
    border-radius: 100%;
    border: none;
    bottom: 50px;
}

Icon {
    font-size: 100;
}

.right {
    right: 50px;
}

.left {
    left: 50px;
} */